nav a {
  text-decoration: none;
  color: #474d66;
  padding: 1rem 1rem 1rem 1.5rem;
}

nav a:hover {
  background-color: #F9FAFC;
}

.navigation {
  background-color: #F9FAFC;
}

a.logo-icon {
  display: flex;
  align-items: center;
  /* text-decoration: none;  */
}
