.upload-btn-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
}

.upload-btn {
  pointer-events: none;
}

#upload-btn {
  display: none;
  text-indent: -99999999px;
  position: fixed;
}
