table {
  width: 100%;
}
thead, tbody, tr{
  border-top: 1px solid #edeff5;
}
thead {
  background-color: #F9FAFC;
  color: #696f8c;
}
tbody * {
  color: #474d66
}
tr {
  width: 100%;
  cursor: pointer;
}
tr:hover {
  background-color: #F9FAFC;
}
th, td {
  padding: 1rem 1rem;
  white-space: nowrap;
}

/* @media screen and () {

} */
