/* TODO: in mobile there is a slight space between the blue border and the image thumbnails */

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  width: 60px;
  height: 60px;
}

.image-gallery-thumbnail-inner img {
  object-fit: cover;
}

.image-gallery-thumbnail {
  width: 60px;
}

.image-gallery-slide .image-gallery-image {
  height: 16rem;
  object-fit: cover;
}

.tablist > span:first-child {
  margin: 0;
}
